@{
    ViewBag.Title = "Добави издател";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<partial name="_PublisherFormPartial" model="@Model" />

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}