@model IEnumerable<BookServiceModel>

@{
    ViewBag.Title = "Мои книги";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

@if(Model.Any())
{
    <div class="row">
        @foreach(var book in Model)
        {
            <partial name="_BookPartial" model="@book"/>
        }
    </div>
}
else
{
    <h3 class="text-center">Все още нямате книги!</h3>
}